@media screen and (max-width: 1270px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #eee3d8;
    text-align: center;
    padding: 0;
  }

  .menu.active {
    display: flex;
  }

  .menu a {
    padding: 15px;
    border-bottom: 1px solid #cfc3ad;
  }

  .menu a:hover {
    border-top: none;
    background-color: var(--color-primary1);
    color: var(--color-neutral-0);
  }

  #btn-nav {
    margin: 15px auto;
    display: inline-block;
  }

  .menu-hamburguer {
    display: block;
    flex: 5%;
  }

  .logo {
    flex: 75%;
  }

  .headline {
    flex: 100%;
    margin: 5%;
    text-align: center;
  }

  .headline p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 945px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #eee3d8;
    text-align: center;
    padding: 0;
  }

  .menu.active {
    display: flex;
  }

  .menu a {
    padding: 15px;
    border-bottom: 1px solid #cfc3ad;
  }

  .menu a:hover {
    border-top: none;
    background-color: var(--color-primary1);
    color: var(--color-neutral-0);
  }

  #btn-nav {
    margin: 15px auto;
    display: inline-block;
  }

  .menu-hamburguer {
    display: block;
    flex: 5%;
  }

  .logo {
    flex: 75%;
  }

  .headline {
    flex: 100%;
    margin: 5%;
    text-align: center;
  }

  .headline p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .img-headline {
    flex: 100%;
    margin: 5%;
    text-align: center;
  }

  .btn-promo,
  .btn-menu,
  .btn-contact {
    margin-bottom: 10px;
  }

  .cards {
    justify-content: center;
  }
}
